@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles go below */

body {
  margin: 0;
  overflow-x: hidden;
  background-color: #000814;
  color: white;
}

.star {
  position: absolute;
  border-radius: 9999px;
  background-color: white;
  opacity: 0.8;
}

.planet {
  border-radius: 9999px;
  position: absolute;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  transition-property: all;
  transition-duration: 700ms;
}

.cosmic-card {
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(12px);
  border-radius: 0.5rem;
  padding: 1.5rem;
  border: 1px solid rgba(55, 65, 81, 1);
  transition-property: all;
  transition-duration: 300ms;
}

.cosmic-card:hover {
  border-color: #ffd60a;
}
